.HoverInfo {
  position: fixed;
  border: 1px solid white;
  color: white;
  background: rgb(0, 0, 0, 0.7);
  width: 196px;
  z-index: 10;
}

.HoverInfo > .Info {

}

.HoverInfo > .Info > .Section {
  box-sizing: border-box;
  padding: 3px;
  border-bottom: 1px solid white;
}
.HoverInfo > .Info > .Section:last-child {
  box-sizing: border-box;
  padding: 3px;
  border-bottom: 0px solid white;
}

.HoverInfo > .Info > .Section > .Detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
