.EquipmentCard {
  width: 320px;
}

.Equipment {
  background-color: rgba(26, 155, 252, 0.5);
}
.Ballistic {
  background-color: rgb(137, 55, 223);
}
.BallisticAmmo {
  background-color: rgba(137, 55, 223, 0.5);
}
.Energy {
  background-color: rgb(155, 203, 64);
}
.EnergyAmmo {
  background-color: rgba(155, 203, 64, 0.5);
}
.Missile {
  background-color: rgb(16, 127, 127);
}
.MissileAmmo {
  background-color: rgba(16, 127, 127, 0.5);
}
