.Table {
  color: white;
  box-sizing: border-box;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  cursor: default;
  user-select: none;
}

.Table > .Header {
  box-sizing: border-box;
  border-bottom: 1px solid darkgrey;
  display: flex;
  flex-direction: row;
}

.Table > .Header > .Column {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 6px;
  border-right: 1px solid darkgrey;
  box-shadow: inset 0 0 1px black, inset 0 0 12px rgba(0, 0, 0, 0.2);
  background: rgb(63, 73, 73);
}
.Table > .Header > .Column:last-child { border-right: 0px solid darkgrey; }
.Table > .Header > .Column.Left { justify-content: flex-start; }
.Table > .Header > .Column.Center { justify-content: center; }
.Table > .Header > .Column.Right { justify-content: flex-end; }


.Table > .Body {
  display: flex;
  flex-direction: column;
}

.Table > .Body .Row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 1px solid darkgrey;
  height: 20px;
  box-shadow: inset 0 0 1px black, inset 0 0 12px rgba(0, 0, 0, 0.2);
}
.Table > .Body .Row:last-child { border-bottom: 0px solid darkgrey; }
.Table > .Body .Row:hover { box-shadow: inset 0 0 1px black, inset 0 0 12px rgba(0, 0, 0, 0.2), inset 0 0 256px rgba(255, 255, 255, 0.3); }

.Table > .Body .Row > .Column {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 4px 6px;
  border-right: 1px solid darkgrey;
}
.Table > .Body .Row > .Column:last-child { border-right: 0px solid darkgrey; }
.Table > .Body .Row > .Column.Left { justify-content: flex-start; }
.Table > .Body .Row > .Column.Center { justify-content: center; }
.Table > .Body .Row > .Column.Right { justify-content: flex-end; }
